$todo-clean-general-body-color: #555;


/**************************
 **************************
  WP override
 **************************
 **************************/

.home .entry-meta {
  display: none;
}
.post-meta {
  display: none !important;
}
.footer-credits {
  display: none !important;
}

// override main theme in case of long title
.site-title {
  @media only screen and (max-width: $media-break-point-desktop-xs - 1px) {
    font-size: 12pt !important;
  }
}

// remove margin
article.post-content {
  margin-bottom: 0 !important;
}
#main #primary {
  margin-bottom: 0 !important;
}

#main {
  // leave margin & width - do not go full width screen
  //  margin: 0;
  padding: 0;
  //  width: 100%;
}


// override body text
p {
  line-height: 1.5;
  @media only screen and (min-width: $media-break-point-desktop-sm) {
  }
  @media only screen and (min-width: $media-break-point-desktop-md) {
  }
  @media only screen and (min-width: $media-break-point-desktop-lg) {
  }
}

// override main theme CSS to do full width
.content-area {
  padding: 0 !important;
}


// override text color
body {
  color: $todo-clean-general-body-color;
}

//bootstrap override
.container {
  width: 100% !important;

  @media only screen and (min-width: $media-break-point-desktop-max) {
    width: $media-break-point-desktop-max !important;
  }
}

// override container full to add padding
.container-fluid {
  padding-top: 36px;
  padding-bottom: 36px;
}


// hide search widget for now
.search-widget-handle {
  display: none !important;
}

.navbar-collapse {
  text-align: right !important;
}

/**************************
 **************************
  Base formats
 **************************
 **************************/


/*
This class is necessary bc using a global bottom padding on WP container
makes it harder to control the bg-color.
Using this, the bottom container on the page can easily specify the bg color
to be included behind the padding
*/
.afg-page--bottom-gutter {
  padding-bottom: 72px;
}

.afg-section {
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}

// use this when section is at very top of page - otherwise, the padding is too much
.afg-section.afg-section--top-of-page {
  @media only screen and (max-width: $media-break-point-desktop-md - 1px) {
    padding-top: 24px;
  }
}

.afg-section--compact-spacing {
  padding-bottom: 48px;
  padding-top: 48px;
}



.afg-gutter-bottom {
  margin-bottom: 30px !important;
}


// Use this abstract class on sections that is considered part of the hero banner but separated due to complexity
.afg-hero--cont {
  // need to add color
  background-color: white;
  padding-top: 30px !important;
}


.afg-width-two-thirds-tablet--centered {
  @extend .flex-base--max;

  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  width: 100%;

  @media only screen and (min-width: 768px) {
    display: inline-block; // use this with margin auto to center container - parent must have text align
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 67%;
  }
  @media only screen and (min-width: 1200px) {
    width: 62%; //58%;
  }
}

.afg-width-half-tablet--centered {
  @extend .flex-base--max;

  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  width: 100%;

  @media only screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 67%;
  }
  @media only screen and (min-width: 992px) {
    width: 50%;
  }
}



// Use this when 2/3 isn't quite wide enough in 768
.afg-width-override--80-sm-to-md {
  @media only screen and (min-width: 768px) and (max-width: $media-break-point-desktop-md - 1px)  {
    width: 80% !important;
  }
}




/*
scratch - can reuse for other list or ul
.afg-home-upcoming__locations {
  list-style: none;
  margin: 24px 0 0 0;
  text-align: center;
}

.afg-home-upcoming__locations li {
}
*/




/**************************
 **************************
  Base fonts
 **************************
 **************************/

.afg-font--base-color {
  color: $color-standard !important;
}

.afg-font--small {
  font-size: .8em;
}

.afg-section-heading {
  margin-bottom: 48px;
  text-align: center;

  // Assume basic width padding until screen is wider.
  // If the text is really long, then it should be inside of a 2/3 container anyways
  padding-left: 24px;
  padding-right: 24px;

  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
}


.afg-heading--1, .afg-heading--2, .afg-heading--3, .afg-heading--4 {
  color: #212B35;
  line-height: 1.5em;
}

.afg-heading--1 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 2.4em;
    margin-bottom: .85em;
  }
}

.afg-heading--2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 2.25em;
    margin-bottom: .85em;
  }
}

.afg-heading--3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: .5em;
}

.afg-heading--4 {
  font-weight: 700;
}

.afg-stat-highlight {
  color: $primary-color--hover; //$pop-color;
  font-weight: 700;
}




/**************************
 **************************
  Base buttons, links, etc
 **************************
 **************************/



.afg-btn, a.afg-btn {
  border-style: none;
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5em;
  outline: none !important;
  text-align: center;
  text-decoration: none;
  white-space: normal;
}
.afg-btn:active {
}
.afg-btn:hover {
}
.afg-btn:focus {
}
.afg-btn:link {
}


// looser top & bottom for i18n
.afg-btn {
  padding-top: initial;
  padding-bottom: initial;
  padding-left: 30px;
  padding-right: 30px;
}

// a buttons must use padding top
// strict top/bottom
a.afg-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
}


.afg-btn--long-text {
  max-width: 260px;
  min-height: 64px;
}

.afg-btn-cta
, .afg-btn-cta:focus
, .afg-btn-cta:active
, .afg-btn-cta:hover
, .afg-btn-cta:link {
  color: white !important;
}


.afg-btn-cta
, .afg-btn-cta:focus
, .afg-btn-cta:active
, .afg-btn-cta:link {
  background-color: $pop-color;
}

.afg-btn-cta:hover {
  background-color: $pop-color--hover;
}



.afg-btn-cta--invert
, .afg-btn-cta--invert:focus
, .afg-btn-cta--invert:link {
  @extend .afg-btn-cta;
  border-color: $pop-color--hover;
  border-style: solid;
  border-width: 2px;

  background-color: white;
  color: $pop-color--hover !important;
}


.afg-btn-cta:hover
, .afg-btn-cta--invert:active {
  background-color: $pop-color--hover !important;
  color: white !important;
}



/**************************
 **************************
  Base Hero wrapper - use with customized php & custom fields per page
 **************************
 **************************/

// base wrapper class
.afg_hero_wrapper {
  position: relative;
}

.afg_hero_cta_wrapper {
  @extend .flex-row__valign_bottom-align_center;
  bottom: 0;
  margin-bottom: 18px;
  position: absolute;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: $media-break-point-desktop-lg) {
    margin-bottom: 24px;
  }
}

.afg_hero_cta {
}


.afg_hero_text_wrapper {
  -webkit-align-content: center !important;
  align-content: center !important;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  display: flex;
  height: 400px;
  //  margin: 0;
  min-height: 300px;

  // no padding top or bottm - assumed to be valign center via flex
  text-align: center;

  @extend .afg-width-two-thirds-tablet--centered;
}

.afg_hero_text_wrapper--md-half-strict {
  @media only screen and (min-width: 992px) {
    width: 50% !important;
  }
}

.afg_hero_text_wrapper--lg-half-strict {
  @media only screen and (min-width: 1200px) {
    width: 50% !important;
  }
}


.afg_hero_text_background {
 background-color: rgba(0,0,0,.4);
}

.afg_hero_title {
  //  -webkit-align-self: center;
  //  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;

  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 1.7em;
  }
}

.afg_hero_title_multi {
  padding: 24px 0 0 0;
}


.afg_hero_subtitle_1 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  padding: 24px 0 0 0;
  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 1.5em;
  }
}

.afg_hero_subtitle_2, .afg_hero_subtitle_3 {
  color: #343b42;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
}

.afg_hero_subtitle_2 {
  padding: 24px 0 0 0;

  @media only screen and (min-width: $media-break-point-desktop-sm) {
    padding: 48px 0 0 0;
  }
}
.afg_hero_subtitle_3 {
  padding: 24px 0 0 0;
}

/**************************
  Options to customize hero per page

  Use this in custom field "Additional CSS classes"
 **************************/

// give hero a consistent height across pages
.afg_hero_text_wrapper--default-height {
  height: initial !important;
  min-height: initial !important;

  // default height, so pad top & bottom
  padding-bottom: 30px;
  padding-top: 30px;

  @media only screen and (min-width: $media-break-point-desktop-md) {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 1.5em;
  }
}

// Use this when adding more complex CTAs etc into hero banner. Instead of shoving it into hero, just make it part of standard page. And leave no gutter in hero so that the 2 are seamless.
.afg_hero_text_wrapper--no-bottom-gutter {
  padding-bottom: 0 !important;
}

.afg-no-top-gutter {
  padding-top: 0 !important;
}




.afg-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.afg-table--xs {
  max-width: 320px;
}

.afg-column {
  float: left;
  text-align: left;
  width: 50%;
}


.afg-row {
  margin: 12px 0;
}
.afg-row:after {
  content: "";
  display: table;
  clear: both;
}



/**************************
 **************************
  Base grids
 **************************
 **************************/

.afg-grid {
  text-align: center;

  @media only screen and (min-width: 512px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media only screen and (min-width: $media-break-point-desktop-max) {
    padding-left: 48px;
    padding-right: 48px;
  }

}

// Base class: 1 / row in mobile
.afg-grid-item {
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}


/**************************
  Grid - numbers per row
  Specific # / row - define width when > mobile
 **************************/

.afg-grid-item--2-row {
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}
.afg-grid-item--3-row {
  @media only screen and (min-width: 768px) {
    width: 33%;
  }
}
.afg-grid-item--4-row {
  @media only screen and (min-width: 768px) {
    width: 25%;
  }
}



/**************************
  Grid - 2 / row
  Define specific left & right padding based on placement to line up with edges.
  Each position should have same total of L + R padding.
 **************************/
.afg-grid-item--2-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--2-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}

/**************************
  Grid - 3 / row
 **************************/
.afg-grid-item--3-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--3-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--3-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}

/**************************
  Grid - 4 / row
 **************************/
.afg-grid-item--4-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--4-row.afg-grid-item-4 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--4-row.afg-grid-item-2, .afg-grid-item--4-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}







/**************************
 **************************
  Base info cards
 **************************
 **************************/

.afg-card {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 15px 3px rgba(69,79,91,0.1);
  color: $color-standard;
  text-align: center;
}

.afg-card__body {
  line-height: 1.75em;
  margin-top: 24px !important;
  position: relative;
}

.afg-card__cta-container {
  line-height: 1.5em;
  margin-top: 36px;
}


.afg-card__cta-container--spacer {
  padding-top: 24px;
}
.afg-card__cta-container--spacer--tablet-only {
  @media only screen and (max-width: $media-break-point-desktop-sm - 1px) {
    padding-top: 0 !important;
  }
}



.afg-card__body, .afg-card__cta-container {
  // default behavior for cards is to flip to row @ 768, and text becomes more crammed
  @media only screen and (min-width: 768px) {
    font-size: .8em;
  }
  @media only screen and (min-width: 992px) {
    font-size: .9em;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 1em;
  }
}




.afg-card__img {
  height: 64px;
  width: 64px;
}

.afg-card__img-2 {
  margin-left: 24px;
}




/**************************
 **************************
  Icons at top - no bg colored background
 **************************
 **************************/

.afg-card--icon-lead {
  padding: 24px;
}

.afg-card--icon-lead > .afg-card__img-wrapper {
  margin-bottom: 24px;
}



/**************************
 **************************
  title @ top - with colored background & image straddling area between title and body
 **************************
 **************************/

// in title leads, top section is colored and thus card container needs 0 padding
.afg-card--title-lead {
}
.afg-card--title-lead > .afg-card__body {
  padding: 24px;
}
// Padding & margin below account for expected image 64x64
.afg-card--title-lead__title {
  background-color: #8aabc7; //#b6cfe4; //$primary-color-dark; //#e9ecef;
  border-radius: 5px 5px 0 0;
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 24px 24px 48px 24px;
  text-align: center;
  width: 100%;
}

.afg-card--title-lead > .afg-card__body > .afg-card__img-wrapper {
  height: 64px;
  left: 50%;
  margin-left: -32px;
  max-width: 64px;
  max-height: 64px;
  position: absolute;
  top: -60px;
  width: 64px;
}






/**************************
 **************************
  Form - general
 **************************
 **************************/


// root containers
.afg-form-container {
}
.afg-form---single-field-container {
}


// only put this directly on the form element. do not use within html with ninja forms - use ninja config instead to inject
.afg-form {
  // assume padding will always have some top padding
  padding-top: 30px !important;

  // tried to switch to flex but cannot use flex as this has multiple nested elements before getting down to child elems in form
  //@extend .flex-row__valign_top-align_center--sm;

  display: block;
  text-align: center;
}


// adding for css selector on labels
.afg-form--with-field-labels {
}
.afg-form---single-field {
}

// add space between form fields
.afg-form--with-field-labels .afg-form__field-container {
  margin-bottom: 36px;
}










/**************************
  ninja specific
 **************************/

// get rid of spinner so that content below the form doesn't jump up after form load
.nf-loading-spinner {
  margin: 12px auto !important;
}


/**************************
  ninja specific - errors
 **************************/
// change color
.nf-error-msg, .nf-error-field-errors {
  color: $error-color !important;
}
// give spacing to content below form
.nf-after-form-content .nf-error-msg {
  margin-bottom: 48px !important;
  text-align: center;
}
.nf-after-field .nf-error-msg {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: left;
}


/**************************
  ninja specific  - labels
 **************************/
.label-above .nf-field-label {
  margin-bottom: 18px !important;
}
.nf-field-label {
  text-align: left;
}



/**************************
  ninja specific  - fields
 **************************/
// without this, field containers use flex which causes
// strange vertical alignments when including 2 fields on same line
// eg on .afg-form---single-field-container @ 768+
.nf-field .field-wrap {
  display: inherit;
  flex-wrap: inherit;
}

// hide msg
.nf-form-fields-required {
  display: none;
}
// added specific for ninja to ensure their height is not used & reusing throughout my fields as well
.afg-form-element-height-override {
  height: auto !important;
}
/*
todo - is this used anywhere?
.afg-form-hidden-container {
  display: none !important;
}
*/


/**************************
 **************************
  my Form elements - can use in ninja form and general
 **************************
 **************************/

/*
  do not override <INPUT> tag as it causes issues w. buttons in
  ninja forms since those are inputs as well.
  Must use this class on input elements
*/
.afg-form__input-base {
  @extend .afg-form-element-height-override;

  -webkit-appearance: none !important;
  background-color: #ffffff !important;
  border: 0 !important;
  border-radius: 5px !important;
  box-shadow: 0 0 0 1px #c4cdd5 !important;
  -webkit-box-shadow: 0 0 0 1px #c4cdd5 !important;
  color: #30373b !important;
  font-family: inherit !important;
  font-size: 1em !important;
  margin: 0 15px 0 0 !important;
  padding: 1em 1em !important;
}


/**************************
  base form labels
 **************************/
.afg-form label {
  font-size: 1em;
}


/**************************
  base form containers for inputs & buttons
 **************************/
// for fields & buttons
.afg-form__field-container
, .afg-form__submit-container {
  display: block;
  width: 100%;
}

/*
  use this for ninja form so that when a confirmation msg is shown instead
  of a redirect, there is separation from content above the form
*/
.afg-form__confirm-msg-separator {
  padding-top: 96px;
}


/**************************
  base form - text box & areas
 **************************/

// email field
.afg-form__field-textbox-input {
  @extend .afg-form__input-base;
  width: 100% !important;
}

.afg-form__field-textarea-input {
  @extend .afg-form__input-base;
  width: 100% !important;

  height: 10em !important;
  line-height: 1.5em;
}



/**************************
  base form - checkboxes
 **************************/

// added as work around to ninja issue where element name is not added to their element - only the container name. Must add this to ninja config for fields
.afg-form__field-container--checkbox {
}




// removed .nf-field .nf-field-element before li to make it more generic
.afg-form__field-container--checkbox .list-checkbox-wrap .nf-field-element li
, .afg-form__field-container--checkbox .list-radio-wrap .nf-field-element li
{
  margin-top: 0 !important;
  margin-bottom: 18px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}




.afg-form__field-container--checkbox input {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 12px !important;
  margin-left: 0 !important;
}

.afg-form__field-container--checkbox label {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: left;
}


.afg-form__field-checkbox {
}




/**************************
  base form - buttons
 **************************/

// button
.afg-form__submit-cta {
  @extend .afg-btn;
  @extend .afg-btn-cta;

  @extend .afg-form-element-height-override;

  // adding minheight to ensure height since padding-top & bottom are removed
  // to support multi-line cta text (e.g. ES i18n is longer than english and spills to 2nd line).
  min-height: 64px;

  // fill screen in mobile
  width: 100% !important;

  // return to default btn settings
  @media only screen and (min-width: 768px) {
    // todo: unsure what this does - either remove, change, or set to important?
    // width: initial;
  }
}

.afg-form__submit-cta:active {
  @extend .afg-btn:active !optional;
  @extend .afg-btn-cta:active !optional;
}
.afg-form__submit-cta:hover {
  @extend .afg-btn:hover !optional;
  @extend .afg-btn-cta:hover !optional;
}
.afg-form__submit-cta:focus {
  @extend .afg-btn:focus !optional;
  @extend .afg-btn-cta:focus !optional;
}
.afg-form__submit-cta:link {
  @extend .afg-btn:link !optional;
  @extend .afg-btn-cta:link !optional;
}

/*
  work around for ninja form so that on submit, the potential change in text
  length does not change button width & other elements around it
*/
.afg-form__submit-cta.afg-form__submit-cta--tablet-245 {
  @media only screen and (min-width: 768px) {
    width: 245px !important;
  }
}




/**************************
  single forms - only 1 field & button
 **************************/

.afg-form---single-field input {
  height: 64px !important; // increase & standardize size
}


// in single field forms, get them to fit on one line
.afg-form---single-field .afg-form__field-container
, .afg-form---single-field .afg-form__submit-container
{
  @media only screen and (min-width: 768px) {
    display: inline-block; //fallback just in case
    display: inline-grid;
    margin-bottom: 12px;  // remove extra margin at bottom so that No Risk msg can be closer
    width: initial;
  }
}

.afg-form---single-field .afg-form__field-container {
  @media only screen and (min-width: 768px) {
    /*
    can't use this - takes up whole row
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    */
    // assume button width is ~260px
    margin-right: 12px;
    width: 250px;
  }
}



/**************************
  forms on home page
 **************************/

.afg-form__no-risk {
  color: #454f5b;
  font-size: .75em;
  margin-left: 24px;  // margin in case parent container has border etc
  margin-right: 24px;
  padding-bottom: 48px;
  text-align: center;
}




/**************************
 **************************
 Base images
 **************************
 **************************/

.afg-img-wrapper {
  display: block;
  position: relative;
  text-align: center;
}
.afg-img {
  width: 100%; // based on img own size
}

.afg-img--icon-lg {
  width: 64px;
}
.afg-img--icon-md {
  width: 32px;
}

.afg-img--box-shadow {
  box-shadow: 0 0 15px 3px rgba(69,79,91,0.1);
}
.afg-img--border-radius {
  border-radius: 25px;
}




// will stretch to full size of parent
.afg-img--bg-container {
  display: block;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// base img container - specific classes should define url location
.afg-img--bg {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  width: inherit;
}






/**************************
 **************************
 Base slider
 **************************
 **************************/

// keep height & width in sync
.afg-slider
, .afg-slider__img-container
, .afg-slider__img
, .afg_hero_image_container
, .afg_hero_image
{
  height: 400px;
  width: 100%;

  @media only screen and (min-width: 1200px) {
    height: 555px;
  }
  @media only screen and (min-width: $media-break-point-desktop-max) {
    width: $media-break-point-desktop-max;
  }
}

.afg_hero_image {
  @extend .afg-img--bg;
  position: absolute;
}



// outer container
.afg-slider {
  display: block;
  position: relative;
  margin: 0 auto;
}

// img container
.afg-slider__img-container {
  @extend .afg-img--bg-container;

  opacity: 0;
  transition: all 0.5s;
  z-index: 0;
}

// the actual image - each will have diff class
.afg-slider__img {
  @extend .afg-img--bg;
}




/**************************
 slider controls & caption @ bottom of carousel
 **************************/

.afg-img-slide-caption {
  background-color: rgba(0,0,0, 0.3);
  padding: 12px;  // only necessary if using bg color

  color: white;
  font-size: 1em;
  font-weight: 700;
  left: 18px;
  position: absolute;
  max-width: 60%; // max-width instead of width so that shorter captions don't have trailing dead space
  z-index: 1;

  @media only screen and (min-width: 768px) {
    font-size: 1.2em;
    left: 36px;
    max-width: 75%;
    padding: 18px;
  }
  @media only screen and (min-width: 992px) {
    left: 60px;
  }
  @media only screen and (min-width: 1200px) {
    left: 72px;
  }
}

.afg-img-slide-caption, .afg-slider__controls {
  bottom: 18px;
  @media only screen and (min-width: 768px) {
    bottom: 36px;
  }
}

.afg-slider__controls {
  position: absolute;
  right: 18px;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    right: 36px;
  }
  @media only screen and (min-width: 992px) {
    right: 60px;
  }
  @media only screen and (min-width: 1200px) {
    right: 72px;
  }
}

.afg-slider__controls>button  {
  background-color: rgba(0, 0, 0, .4);

  border-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;

  color: white !important;
  cursor: pointer;

  display: inline-block;
  font-size: 24px;
  height: 36px;

  overflow: hidden;

  padding: 8px;
  position: relative;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  white-space: nowrap;
  width: 36px;
}

.afg-slider__controls>button:focus
, .afg-slider__controls>button:hover
, .afg-slider__controls>button:active  {
  background-color: rgba(255, 255, 255, .4);
}

.afg-slider__control-right {
  margin-left: 6px;
}


.fa-afg-slider-control {
  position: absolute;
  top: 4px;
  width: 16px;
  height: 24px;
  line-height: 24px;
}
.fa-afg-slider--left {
  left: 8px;
  right: initial;
}

.fa-afg-slider--right {
  left: initial;
  right: 8px;
}



/**************************
 **************************
  WP override
 **************************
 **************************/


footer {
  background-color: rgba(26,35,43,1) !important;
  padding: 48px 0 12px 0;
  text-align: center;
}

footer .footer-widget {
  width: 100% !important;
}


.afg-footer__site-map-link {
  color: white;
  margin-bottom: 24px;
}


.afg-footer__about, .afg-footer__privacy {
  color: white;
  font-size: .8em;
}


.afg-footer__privacy {
  //padding: 12px 0 0 0;
}

footer .footer-widget .widget_text {
  margin-bottom: 6px !important;
}



.afg-footer__privacy-text {

}


.afg-footer__i18n-container {
  margin: auto auto;
  text-align: center;
}


/* Google Website Translator By Prisna */
.afg-footer__i18n-container #google_translate_element {
  display: none;
}

.afg-footer__i18n-container .prisna-gwt-flag-container {
  text-align: center !important;
}

.afg-footer__i18n-container ul li {
  margin-left: 10px !important;
  margin-right: 10px !important;
  float: none !important;
  display: inline-block;
}


/* Google Language Translator By Rob Myrick */
.afg-footer__i18n-container #flags {
  margin: auto;
}
.afg-footer__i18n-container #flags ul {
  float: none !important;
}
.afg-footer__i18n-container #flags ul li {
  margin-left: 10px !important;
  margin-right: 10px !important;
  float: none !important;
  display: inline-block;
}




.et-content--hide {
  position: fixed;
  width: 1px;
  height: 1px;
  bottom: 0;
  left: 0;
}
