/**************************
 **************************
  Free Consult request
 **************************
 **************************/

.afg-confirm-submit {
  padding-bottom: 24px;
}

.afg-confirm-submit__title
, .afg-contact-us__title {
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;
}

.afg-confirm-submit__action {
    text-align: left;
    margin-top: 60px;
}

.afg-confirm-submit__action-title {
  font-weight: 700;
}

.afg-confirm-submit__action-body {
  margin-top: 24px;
}


.afg-confirm-submit__action .afg-img-wrapper {
  margin-bottom: 24px;
  text-align: left;
}


