$todo-clean-general-body-color: #555;


/**************************
 **************************
  WP override
 **************************
 **************************/

.home .entry-meta {
  display: none;
}
.post-meta {
  display: none !important;
}
.footer-credits {
  display: none !important;
}

// override main theme in case of long title
.site-title {
  @media only screen and (max-width: $media-break-point-desktop-xs - 1px) {
    font-size: 12pt !important;
  }
}

// remove margin
article.post-content {
  margin-bottom: 0 !important;
}
#main #primary {
  margin-bottom: 0 !important;
}

#main {
  // leave margin & width - do not go full width screen
  //  margin: 0;
  padding: 0;
  //  width: 100%;
}


// override body text
p {
  font-size: 1.2em !important;
  @media only screen and (min-width: $media-break-point-desktop-sm) {
  }
  @media only screen and (min-width: $media-break-point-desktop-md) {
  }
  @media only screen and (min-width: $media-break-point-desktop-lg) {
  }
}

// override main theme CSS to do full width
.content-area {
  padding: 0 !important;
}


// override text color
body {
  color: $todo-clean-general-body-color;
}

//bootstrap override
.container {
  width: 100% !important;

  @media only screen and (min-width: $media-break-point-desktop-max) {
    width: $media-break-point-desktop-max !important;
  }
}

// override container full to add padding
.container-fluid {
  padding-top: 36px;
  padding-bottom: 36px;
}



/**************************
 **************************
  Base formats
 **************************
 **************************/


.afg-section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media only screen and (min-width: 992px) {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}


.afg-gutter-bottom {
  margin-bottom: 30px !important;
}

.afg-hero--cont {
  // need to add color
  background-color: white;
  padding-top: 30px !important;
}


.afg-width-two-thirds-tablet--centered {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 67%;
  }

  @media only screen and (min-width: 1200px) {
    width: 58%;
  }
}




/**************************
 **************************
  Base fonts
 **************************
 **************************/

.afg-font--base-color {
  color: $color-standard !important;
}

.afg-font--small {
  font-size: .8em;
}

.afg-section-heading {
  margin-bottom: 48px;
  text-align: center;
}


.afg-heading--1, .afg-heading--2, .afg-heading--3, .afg-heading--4 {
  line-height: 1.5em;
  padding: 0 24px;
}

.afg-heading--1 {
  color: $primary-color--hover; //#ffa61d; //$pop-color;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 3em;
    margin-bottom: .85em;
  }
}

.afg-heading--2 {
  color: #212B35;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 2.25em;
    margin-bottom: .85em;
  }
}

.afg-heading--4 {
  font-weight: 700;
}

.afg-stat-highlight {
  color: $primary-color--hover; //$pop-color;
  font-weight: 700;
}




/**************************
 **************************
  Base buttons, links, etc
 **************************
 **************************/



.afg-btn, a.afg-btn {
  border-style: none;
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  font-weight: 700;
  outline: none !important;
  padding: 18px 30px;
  text-decoration: none;
  white-space: normal;
}
.afg-btn:active {
}
.afg-btn:hover {
}
.afg-btn:focus {
}
.afg-btn:link {
}

.afg-btn--long-text {
  max-width: 260px;
  min-height: 64px;
}

.afg-btn-cta
, .afg-btn-cta:focus
, .afg-btn-cta:active
, .afg-btn-cta:hover
, .afg-btn-cta:link {
  color: white;
}


.afg-btn-cta
, .afg-btn-cta:focus
, .afg-btn-cta:active
, .afg-btn-cta:link {
  background-color: $pop-color;
}

.afg-btn-cta:hover {
  background-color: $pop-color--hover;
}





/**************************
 **************************
  Base Hero wrapper - use with customized php & custom fields per page
 **************************
 **************************/

// base wrapper class
.afg_hero_wrapper {
  -webkit-align-content: center !important;
  align-content: center !important;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  display: flex;
  margin: 0;
}


.afg_hero_text_wrapper {
  // no padding top or bottm - assumed to be valign center via flex
  text-align: center;

  height: 400px;
  min-height: 300px;

  @extend .afg-width-two-thirds-tablet--centered;
}

.afg_hero_text_background {
 background-color: rgba(0,0,0,.4);
}

.afg_hero_image_container {
 background-size: cover;
}

.afg_hero_title {
  //  -webkit-align-self: center;
  //  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;

  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 2em;
  }
}

.afg_hero_title_multi {
  padding: 24px 0 0 0;
}


.afg_hero_subtitle_1, .afg_hero_subtitle_2,
.afg_hero_subtitle_3 {
  color: #637381;
  font-weight: 400;
  line-height: 1.2em;
}

.afg_hero_subtitle_1 {
  font-size: 1.2em;
  padding: 24px 0 0 0;
  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 1.5em;
  }
}

.afg_hero_subtitle_2, .afg_hero_subtitle_3 {
  font-size: 1em;
  padding: 24px 0 0 0;
}



/**************************
  Options to customize hero per page

  Use this in custom field "Additional CSS classes"
 **************************/

// give hero a consistent height across pages
.afg_hero_text_wrapper--default-height {
  height: initial !important;
  min-height: initial !important;

  // default height, so pad top & bottom
  padding-bottom: 30px;
  padding-top: 30px;

  @media only screen and (min-width: $media-break-point-desktop-lg) {
    font-size: 1.5em;
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

// Use this when adding more complex CTAs etc into hero banner. Instead of shoving it into hero, just make it part of standard page. And leave no gutter in hero so that the 2 are seamless.
.afg_hero_text_wrapper--no-bottom-gutter {
  padding-bottom: 0 !important;
}






/**************************
 **************************
  Base grids
 **************************
 **************************/

.afg-grid {
  text-align: center;

  @media only screen and (min-width: 512px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media only screen and (min-width: $media-break-point-desktop-max) {
    padding-left: 48px;
    padding-right: 48px;
  }

}

// Base class: 1 / row in mobile
.afg-grid-item {
  margin-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}


/**************************
  Grid - numbers per row
  Specific # / row - define width when > mobile
 **************************/

.afg-grid-item--2-row {
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}
.afg-grid-item--3-row {
  @media only screen and (min-width: 768px) {
    width: 33%;
  }
}
.afg-grid-item--4-row {
  @media only screen and (min-width: 768px) {
    width: 25%;
  }
}



/**************************
  Grid - 2 / row
  Define specific left & right padding based on placement to line up with edges.
  Each position should have same total of L + R padding.
 **************************/
.afg-grid-item--2-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--2-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}

/**************************
  Grid - 3 / row
 **************************/
.afg-grid-item--3-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--3-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--3-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}

/**************************
  Grid - 4 / row
 **************************/
.afg-grid-item--4-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--4-row.afg-grid-item-4 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--4-row.afg-grid-item-2, .afg-grid-item--4-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}







/**************************
 **************************
  Base info cards
 **************************
 **************************/

.afg-card {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 15px 3px rgba(69,79,91,0.1);
  color: $color-standard;
  text-align: center;
}

.afg-card__body {
  line-height: 1.75em;
  margin-top: 24px !important;
  position: relative;
}

.afg-card__cta-container {
  line-height: 1.5em;
  margin-top: 36px;
}

.afg-card__body, .afg-card__cta-container {
  // default behavior for cards is to flip to row @ 768, and text becomes more crammed
  @media only screen and (min-width: 768px) {
    font-size: .8em;
  }
  @media only screen and (min-width: 992px) {
    font-size: .9em;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 1em;
  }
}




.afg-card__img {
  height: 64px;
  width: 64px;
}

.afg-card__img-2 {
  margin-left: 24px;
}




/**************************
 **************************
  Icons at top - no bg colored background
 **************************
 **************************/

.afg-card--icon-lead {
  padding: 24px;
}

.afg-card--icon-lead > .afg-card__img-wrapper {
  margin-bottom: 24px;
}



/**************************
 **************************
  title @ top - with colored background & image straddling area between title and body
 **************************
 **************************/

// in title leads, top section is colored and thus card container needs 0 padding
.afg-card--title-lead {
}
.afg-card--title-lead > .afg-card__body {
  padding: 24px;
}
// Padding & margin below account for expected image 64x64
.afg-card--title-lead__title {
  background-color: #8aabc7; //#b6cfe4; //$primary-color-dark; //#e9ecef;
  border-radius: 5px 5px 0 0;
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 24px 24px 48px 24px;
  text-align: center;
  width: 100%;
}

.afg-card--title-lead > .afg-card__body > .afg-card__img-wrapper {
  height: 64px;
  left: 50%;
  margin-left: -32px;
  max-width: 64px;
  max-height: 64px;
  position: absolute;
  top: -60px;
  width: 64px;
}






/**************************
 **************************
  Form - general
 **************************
 **************************/

.afg-form {
  @extend .afg-width-two-thirds-tablet--centered;
  // tried to switch to flex but cannot use flex as this has multiple nested elements before getting down to child elems in form
  //@extend .flex-row__valign_top-align_center--sm;

  display: block;
  text-align: center;
}


.afg-form--page-top {
  @extend .afg-hero--cont;
}


/**************************
  overrides for ninja
 **************************/

// without this, field containers use flex which causes
// strange vertical alignments when including 2 fields on same line
// eg on .afg-form---single-field-container @ 768+
.nf-field .field-wrap {
  display: inherit;
  flex-wrap: inherit;
}

// hide msg
.nf-form-fields-required {
  display: none;
}

// added specific for ninja
.afg-form-element-height-override {
  height: 64px !important;
}


/**************************
 **************************
  my Form elements - can use in ninja form and general
 **************************
 **************************/

// do not override INPUT class as it causes issues w. buttons in
// ninja forms since those are inputs as well.
.afg-input {
  @extend .afg-form-element-height-override;

  -webkit-appearance: none !important;
  background-color: #ffffff !important;
  border: 0 !important;
  border-radius: 5px !important;
  box-shadow: 0 0 0 1px #c4cdd5 !important;
  -webkit-box-shadow: 0 0 0 1px #c4cdd5 !important;
  color: #30373b !important;
  font-family: inherit !important;
  font-size: 1em !important;
  margin: 0 15px 0 0 !important;
  padding: 1em 1em !important;
}


// for fields & buttons
.afg-form-field-container
, .afg-form-submit-container {
  display: block;
  width: 100%;
}

// email field
.afg-form-text-input {
  @extend .afg-input;
  width: 100% !important;
}

// button
.afg-form-submit-cta {
  @extend .afg-btn;
  @extend .afg-btn-cta;

  @extend .afg-form-element-height-override;

  // fill screen in mobile
  width: 100% !important;

  // return to default btn settings
  @media only screen and (min-width: 768px) {
    width: initial;
  }
}


.afg-form-submit-cta:active {
  @extend .afg-btn:active !optional;
  @extend .afg-btn-cta:active !optional;
}
.afg-form-submit-cta:hover {
  @extend .afg-btn:hover !optional;
  @extend .afg-btn-cta:hover !optional;
}
.afg-form-submit-cta:focus {
  @extend .afg-btn:focus !optional;
  @extend .afg-btn-cta:focus !optional;
}
.afg-form-submit-cta:link {
  @extend .afg-btn:link !optional;
  @extend .afg-btn-cta:link !optional;
}

.afg-form-email {
  @extend .afg-form-text-input;
}



/**************************
  single forms - only 1 field & button
 **************************/

// root container
.afg-form---single-field-container {
}

.afg-form---single-field {
}


// in single field forms, get them to fit on one line
.afg-form---single-field .afg-form-field-container
, .afg-form---single-field .afg-form-submit-container
{
  @media only screen and (min-width: 768px) {
    display: inline-block;
    width: initial;
  }
}

.afg-form---single-field .afg-form-field-container {
  @media only screen and (min-width: 768px) {
    /*
    can't use this - takes up whole row
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    */
    // assume button width is ~260px
    margin-right: 12px;
    width: 250px;
  }
}







/**************************
 **************************
  Page specific - home
 **************************
 **************************/


// anything custom for home page hero banner
.afg_hero_wrapper--home {
}


/**************************
  Services section
 **************************/

.afg-home-services {
  background-color: #f3f3f3;
}

.afg-home-services > .afg-grid {
  // override default afg-grid since these cards are tight on space.
  // turn off padding until there is a lot more room

  @media only screen and (max-width: calc(768px + 60%)) {
    padding-left: 0;
    padding-right: 0;
  }
}

.afg-card--service-type {
}

.afg-grid--home-services {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  text-align: left;
}

.afg-grid--home-services__title {
  font-weight: 700;
}

.afg-service-fact {
  background-color: #fdfdfd;
  border-color: #ccc;
  border-width: 3px;
  font-style: italic;
  margin-bottom: 60px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 48px;
  padding-left: 12px;
  padding-right: 12px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 72px;
  }
}


// reset margin - section already has bottom padding
.afg-service-fact .afg-grid-item-3 .afg-service-fact {
  margin-bottom: 0;
}




/**************************
  Experience section
 **************************/

.afg-home-soc {
  background-color: #e4e5e9;

  @media only screen and (min-width: 768px) {
    background-image: url("/wp-content/uploads/media/banners/md/world-map.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/world-map.png");
    background-size: 1200px;
  }
}


.afg-grid--home-experience {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  @media only screen and (min-width: 768px) {
  }
}

.afg-grid--home-experience > .afg-grid-item--3-row {
  /* switch to smaller width so that the numbers don't line up directly
  over the cards - but don't do this @ 768 bc long text will flow to 2nd line */

  margin-top: 24px;
  @media only screen and (min-width: 992px) {
    width: 25%;
  }
}


.afg-grid--home-why-us {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  margin-top: 24px;

  @media only screen and (min-width: 992px) {
    margin-top: 72px;
  }
}


/*
Stagger cards for look
*/
.afg-grid--home-why-us > .afg-grid-item-1 > .afg-card--why-us {
  @media only screen and (min-width: 768px) {
    margin-top: 72px;
  }
}
.afg-grid--home-why-us > .afg-grid-item-3 > .afg-card--why-us {
  @media only screen and (min-width: 768px) {
    margin-top: 96px;
  }
}

// ensure that customers card is first or 'top'
.afg-grid--home-why-us > .afg-grid-item-1 {
  order: 2;
  @media only screen and (min-width: 768px) {
    order: 1;
  }
}
.afg-grid--home-why-us > .afg-grid-item-2 {
  order: 1;
  @media only screen and (min-width: 768px) {
    order: 2;
  }
}
.afg-grid--home-why-us > .afg-grid-item-3 {
  order: 3;
}


.afg-card--why-us > .afg-card__body {
  text-align: left;
}

.afg-heading--experience-number {
  color: $pop-color--hover;

  margin-bottom: .25em;
}





/**************************
  forms on home page
 **************************/


.afg-form__no-risk {
  color: #454f5b;
  font-size: .75em;
  padding-bottom: 48px;
}




/**************************
 **************************
 Base slider
 **************************
 **************************/

// keep height & width in sync
.afg-slider
, .afg-slider__img-container
, .afg-slider__img
{
  height: 400px;
  width: 100%;

  @media only screen and (min-width: 1200px) {
    height: 555px;
  }
  @media only screen and (min-width: $media-break-point-desktop-max) {
    width: $media-break-point-desktop-max;
  }
}


// outer container
.afg-slider {
  display: block;
  position: relative;
}

// img container
.afg-slider__img-container {
  display: block;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

// the actual image - each will have diff class
.afg-slider__img {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}




/**************************
 slider controls & caption @ bottom of carousel
 **************************/

.afg-img-slide-caption {
  bottom: 18px;
  color: white;
  left: 18px;
  position: absolute;
  width: 65%;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    bottom: 36px;
    left: 36px;
  }
  @media only screen and (min-width: 992px) {
    left: 60px;
  }
  @media only screen and (min-width: 1200px) {
    left: 72px;
  }
}



.afg-slider__controls {
  position: absolute;
  bottom: 18px;
  right: 18px;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    bottom: 18px;
    right: 36px;
  }
  @media only screen and (min-width: 992px) {
    right: 60px;
  }
  @media only screen and (min-width: 1200px) {
    right: 72px;
  }
}

.afg-slider__controls>button  {
  background-color: rgba(0, 0, 0, .4);

  border-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;

  color: white !important;
  cursor: pointer;

  display: inline-block;
  font-size: 24px;
  height: 36px;

  overflow: hidden;

  padding: 8px;
  position: relative;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  white-space: nowrap;
  width: 36px;
}

.afg-slider__controls>button:focus
, .afg-slider__controls>button:hover
, .afg-slider__controls>button:active  {
  background-color: rgba(255, 255, 255, .4);
}

.afg-slider__control-right {
  margin-left: 6px;
}


.fa-afg-slider-control {
  position: absolute;
  top: 4px;
  width: 16px;
  height: 24px;
  line-height: 24px;
}
.fa-afg-slider--left {
  left: 8px;
  right: initial;
}

.fa-afg-slider--right {
  left: initial;
  right: 8px;
}


/**************************
 specific images
 **************************/

.afg-slider__img--hotels {
  background-image: url("/wp-content/uploads/media/banners/sm/hotels.jpg");
  @media only screen and (min-width: 512px) {
    background-image: url("/wp-content/uploads/media/banners/md/hotels.jpg");
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/hotels.jpg");
  }
}

.afg-slider__img--scuba {
  background-image: url("/wp-content/uploads/media/banners/sm/snorkeling-and-scuba-dive-shops.jpg");
  @media only screen and (min-width: 512px) {
    background-image: url("/wp-content/uploads/media/banners/md/snorkeling-and-scuba-dive-shops.jpg");
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/snorkeling-and-scuba-dive-shops.jpg");
  }
}

.afg-slider__img--trekking {
  background-image: url("/wp-content/uploads/media/banners/sm/trekking-and-hiking-tours.jpg");
  @media only screen and (min-width: 512px) {
    background-image: url("/wp-content/uploads/media/banners/md/trekking-and-hiking-tours.jpg");
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/trekking-and-hiking-tours.jpg");
  }
}

.afg-slider__img--hot-air-balloons {
  background-image: url("/wp-content/uploads/media/banners/sm/hot-air-balloon-tours.jpg");
  @media only screen and (min-width: 512px) {
    background-image: url("/wp-content/uploads/media/banners/md/hot-air-balloon-tours.jpg");
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/hot-air-balloon-tours.jpg");
  }
}



.afg-slider__img--jeep-tours {
  background-image: url("/wp-content/uploads/media/banners/sm/jeep-tours.jpg");
  @media only screen and (min-width: 512px) {
    background-image: url("/wp-content/uploads/media/banners/md/jeep-tours.jpg");
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/jeep-tours.jpg");
  }
}