$todo-clean-general-body-color: #555;



/*
cp
Page: hide author and page added date info
*/

.home .entry-meta {
  display: none;
}
.post-meta {
  display: none !important;
}
.footer-credits {
  display: none !important;
}


.iktsu-bg-light-grey {
  background-color: #f1f1f1;

}





.iktsu-cta-default {
  background-color: $pop-color !important;
  border: 2px solid $pop-color !important;
    /*
    none !important;
    */
  border-radius: 5px !important;
  color: $color-standard !important;
  font-size: 1.9rem !important;
  font-weight: bold !important;
  outline: none !important;
  padding: 24px !important;
  text-transform: none;

  &:hover {
    opacity: .75 !important;
  }
}


.iktsu_hero_wrapper {
  -webkit-align-content: center !important;
  align-content: center !important;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  display: flex;
  margin: 0 0 48px 0;
  min-height: 300px;
  padding: 12px;

  text-align: center;
  height: 400px;

  @media only screen and (min-width: $media-break-point-desktop-sm) {
    padding: 24px;
  }
}



.iktsu_hero_text_wrapper {
  padding: 24px;
}

.iktsu_hero_text_background {
 background-color: rgba(0,0,0,.4);
}

.iktsu_hero_image_container {
 background-size: cover;
}

.iktsu_hero_title {
  //  -webkit-align-self: center;
  //  align-self: center;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3em;
  @media only screen and (min-width: $media-break-point-desktop-sm) {
    font-size: 3em;
  }
}

.iktsu_hero_title_multi {
  padding: 24px 0 0 0;
}

.iktsu_hero_subtitle_1, .iktsu_hero_subtitle_2,
.iktsu_hero_subtitle_3 {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.3em;
}
.iktsu_hero_subtitle_1 {
  padding: 24px 0 0 0;
}

.iktsu_hero_subtitle_2, .iktsu_hero_subtitle_3 {
  padding: 12px 0 0 0;
}





// override body text
p {

  font-size: 1.2em !important;
  @media only screen and (min-width: $media-break-point-desktop-sm) {

  }
  @media only screen and (min-width: $media-break-point-desktop-md) {
  }
  @media only screen and (min-width: $media-break-point-desktop-lg) {
  }

}


// override main theme in case of long title
.site-title {
  @media only screen and (max-width: $media-break-point-desktop-xs - 1px) {
    font-size: 12pt !important;
  }
}

// override main theme CSS to do full width

.content-area {
  padding: 0 !important;
}

#main {
  margin: 0;
  padding: 0;
  width: 100%;
}


.iktsu-cta-post-link {
  color: $todo-clean-general-body-color !important;
  font-size: .95em;
}


// override text color
body {
  color: $todo-clean-general-body-color;
}

// override container full to add padding
.container-fluid {
  padding-top: 36px;
  padding-bottom: 36px;
}






/**************************
 **************************
  Base classes
 **************************
 **************************/

section {
  padding-bottom: 48px;
  padding-top: 48px;
}





/**************************
 **************************
  Base formats
 **************************
 **************************/

.afg-gutter-bottom {
  margin-bottom: 24px !important;
}




/**************************
 **************************
  Base fonts
 **************************
 **************************/

.afg-font--base-color {
  color: $color-standard !important;
}

.afg-font--small {
  font-size: .8em;
}

.afg-section-heading {
  margin-bottom: 48px;
  text-align: center;
}


.afg-heading--1, .afg-heading--2, .afg-heading--3, .afg-heading--4 {
  line-height: 1.5em;
  padding: 0 24px;
}

.afg-heading--1 {
  color: $primary-color--hover; //#ffa61d; //$pop-color;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 3em;
    margin-bottom: .85em;
  }
}

.afg-heading--2 {
  color: #212B35;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;

  @media only screen and (min-width: 992px) {
    font-size: 2.25em;
    margin-bottom: .85em;
  }
}

.afg-heading--4 {
  font-weight: 700;
}

.afg-stat-highlight {
  color: $primary-color--hover; //$pop-color;
  font-weight: 700;
}




/**************************
 **************************
  Base buttons, links, etc
 **************************
 **************************/

.afg-btn {
  &:link, &:hover, &:active, &:focus {
    border-style: none;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    color: inherit;
    display: inline-block;
    font-weight: 700;
    outline: none !important;
    padding: 24px;
    text-decoration: none;
    white-space: normal;
  }
}

.afg-btn--long-text {
  max-width: 260px;
  min-height: 64px;
}

.afg-btn-cta, .afg-btn-cta:focus, .afg-btn-cta:active, .afg-btn-cta:focus:active {
  background-color: $pop-color;
}

.afg-btn-cta:hover {
  background-color: $pop-color--hover;
}




/**************************
 **************************
  Base grids
 **************************
 **************************/

.afg-grid {
  text-align: center;

  @media only screen and (min-width: 512px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media only screen and (min-width: $media-break-point-desktop-max) {
    padding-left: 48px;
    padding-right: 48px;
  }

}

// Base class: 1 / row in mobile
.afg-grid-item {
  margin-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}


/**************************
  Grid - numbers per row
  Specific # / row - define width when > mobile
 **************************/

.afg-grid-item--2-row {
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}
.afg-grid-item--3-row {
  @media only screen and (min-width: 768px) {
    width: 33%;
  }
}
.afg-grid-item--4-row {
  @media only screen and (min-width: 768px) {
    width: 25%;
  }
}



/**************************
  Grid - 2 / row
  Define specific left & right padding based on placement to line up with edges.
  Each position should have same total of L + R padding.
 **************************/
.afg-grid-item--2-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--2-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}

/**************************
  Grid - 3 / row
 **************************/
.afg-grid-item--3-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--3-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--3-row.afg-grid-item-2 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}

/**************************
  Grid - 4 / row
 **************************/
.afg-grid-item--4-row.afg-grid-item-1 {
  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 12px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 18px;
  }
}
.afg-grid-item--4-row.afg-grid-item-4 {
  @media only screen and (min-width: 768px) {
    padding-left: 12px;
    padding-right: 0;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 18px;
    padding-right: 0;
  }
}
.afg-grid-item--4-row.afg-grid-item-2, .afg-grid-item--4-row.afg-grid-item-3 {
  @media only screen and (min-width: 768px) {
    padding-left: 6px;
    padding-right: 6px;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9px;
    padding-right: 9px;
  }
}







/**************************
 **************************
  Base info cards
 **************************
 **************************/

.afg-card {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 15px 3px rgba(69,79,91,0.1);
  color: $color-standard;
  text-align: center;
}

.afg-card__body {
  line-height: 1.75em;
  margin-top: 24px !important;
  position: relative;
}

.afg-card__cta-container {
  line-height: 1.5em;
  margin-top: 36px;
}

.afg-card__body, .afg-card__cta-container {
  // default behavior for cards is to flip to row @ 768, and text becomes more crammed
  @media only screen and (min-width: 768px) {
    font-size: .8em;
  }
  @media only screen and (min-width: 992px) {
    font-size: .9em;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 1em;
  }
}




.afg-card__img {
  height: 64px;
  width: 64px;
}

.afg-card__img-2 {
  margin-left: 24px;
}




/**************************
 **************************
  Icons at top - no bg colored background
 **************************
 **************************/

.afg-card--icon-lead {
  padding: 24px;
}

.afg-card--icon-lead > .afg-card__img-wrapper {
  margin-bottom: 24px;
}



/**************************
 **************************
  title @ top - with colored background & image straddling area between title and body
 **************************
 **************************/

// in title leads, top section is colored and thus card container needs 0 padding
.afg-card--title-lead {
}
.afg-card--title-lead > .afg-card__body {
  padding: 24px;
}
// Padding & margin below account for expected image 64x64
.afg-card--title-lead__title {
  background-color: #8aabc7; //#b6cfe4; //$primary-color-dark; //#e9ecef;
  border-radius: 5px 5px 0 0;
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 24px 24px 48px 24px;
  text-align: center;
  width: 100%;
}

.afg-card--title-lead > .afg-card__body > .afg-card__img-wrapper {
  height: 64px;
  left: 50%;
  margin-left: -32px;
  max-width: 64px;
  max-height: 64px;
  position: absolute;
  top: -60px;
  width: 64px;
}





/**************************
 **************************
  Page specific - home
 **************************
 **************************/


/**************************
  Services section
 **************************/

.afg-home-services {
  background-color: #f3f3f3;
}

.afg-home-services > .afg-grid {
  // override default afg-grid since these cards are tight on space.
  // turn off padding until there is a lot more room

  @media only screen and (max-width: calc(768px + 60%)) {
    padding-left: 0;
    padding-right: 0;
  }
}

.afg-card--service-type {
}

.afg-grid--home-services {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  text-align: left;
}

.afg-grid--home-services__title {
  font-weight: 700;
}


.afg-service-fact {
  background-color: #fdfdfd;
  border-color: #ccc;
  border-width: 3px;
  font-style: italic;
  margin-bottom: 72px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 72px;
  padding-left: 12px;
  padding-right: 12px;
  @media only screen and (min-width: 768px) {
    //margin-top: 96px;
  }
}



/**************************
  Experience section
 **************************/

.afg-home-soc {
  background-color: #e4e5e9;

  @media only screen and (min-width: 768px) {
    background-image: url("/wp-content/uploads/media/banners/md/world-map.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 96px 0;
  }
  @media only screen and (min-width: 992px) {
    background-image: url("/wp-content/uploads/media/banners/lg/world-map.png");
    background-size: 1200px;
    padding: 120px 0;
  }
}


.afg-grid--home-experience {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  @media only screen and (min-width: 768px) {
  }
}

.afg-grid--home-experience > .afg-grid-item--3-row {
  /* switch to smaller width so that the numbers don't line up directly
  over the cards - but don't do this @ 768 bc long text will flow to 2nd line */

  @media only screen and (min-width: 992px) {
    width: 25%;
  }
}


.afg-grid--home-why-us {
  @extend .flex-row__valign_top-align_center;
  @extend .flex-base--max;

  margin-top: 24px;

  @media only screen and (min-width: 992px) {
    margin-top: 72px;
  }
}


/*
Stagger cards for look
*/
.afg-grid--home-why-us > .afg-grid-item-1 > .afg-card--why-us {
  @media only screen and (min-width: 768px) {
    margin-top: 72px;
  }
}
.afg-grid--home-why-us > .afg-grid-item-3 > .afg-card--why-us {
  @media only screen and (min-width: 768px) {
    margin-top: 96px;
  }
}

// ensure that customers card is first or 'top'
.afg-grid--home-why-us > .afg-grid-item-1 {
  order: 2;
  @media only screen and (min-width: 768px) {
    order: 1;
  }
}
.afg-grid--home-why-us > .afg-grid-item-2 {
  order: 1;
  @media only screen and (min-width: 768px) {
    order: 2;
  }
}
.afg-grid--home-why-us > .afg-grid-item-3 {
  order: 3;
}


.afg-card--why-us > .afg-card__body {
  text-align: left;
}

.afg-heading--experience-number {
  color: $pop-color--hover;

  margin-bottom: .25em;
}

