/**************************
 **************************
  Free Consult request
 **************************
 **************************/

.afg-confirm-submit {
}

.afg-confirm-submit__title {
  margin-top: 24px;
  text-align: center;
}

.afg-confirm-submit__action {
    text-align: left;
    margin-top: 48px;
}

.afg-confirm-submit__action-title {
  font-weight: 700;
}

.afg-confirm-submit__action-body {
  margin-top: 24px;
}


.afg-confirm-submit__action .afg-img-wrapper {
  margin-bottom: 24px;
  text-align: left;
}