/************************************************************************
// **********************************************************************
//                   z index definition


15000   mmenu blocker
12000   spinner message
11000   main spinner
10000   ngdialog
 5000   header, hamburger
 1000   tool bars on top of page
  100   image loader spinner
    1   misc
// **********************************************************************
// **********************************************************************/



/************************************************************************
// **********************************************************************
//
//                   colors
//
// **********************************************************************
// **********************************************************************/

// Used as bgcolor or de-emphasized buttons against white background
$background-color: #e9ecef; //#e9e9e9;
$background-footer-color: #3D4F5E;

$border-color: #999;                // COPY THIS CHANGE TO 6X4_BACK_V1.HBS
$border-color--light: #dcdce0; //#eee;


$color-standard: rgba(0,0,0,.8);

// Contrast pop color to iktsu blues
$pop-color: #F5BC64;
$pop-color--hover: #F0B04B;


// Pricinpal iktsu light blue
$primary-color: #66b1e2;
$primary-color--hover: #5189B7;// #90CAEF;

// Light version of primary-color for bgs
$primary-color--light-bg: #e9f6ff;

$back-btn-color:          #e9e9e9;
$back-btn-color--hover:   $background-color;

// Darker primary iktsu color
$primary-color-dark: #336fa2; //#5189B7


// Secondary action
$secondary-color: #aaa;
$secondary-color--hover: #999;

$secondary-color--light: #ddd;
$secondary-color--light--hover: #ccc;



$social-rev-bg-color: #ccc;


$iktsu-card-back-gray-color: #222;               // COPY THIS CHANGE TO 6X4_BACK_V1.HBS


$font-programming: "Source Code Pro",Consolas,"Lucida Console",monospace;


$error-color: #BD362F;
$success-color: #51A351;
$warning-color: #ffffee;


$kiva-color: #63a541;


.bg-kiva {
  background-color: $kiva-color;
}
.bg-regular {
  background-color: $background-color;
}
.bg-white {
  background-color: white !important;
}
.bg-iktsu {
  background-color: $primary-color--light-bg !important;
}

.iktsu-primary-color {
  color: $primary-color;
}
.iktsu-standard-text-color {
  color: $color-standard !important;
}
.iktsu-white-color {
  color: white !important;
}
.zero-margin {
  margin: 0 !important;
}


/************************************************************************
// **********************************************************************
//
//                   breakpoints
//
// **********************************************************************
// **********************************************************************/

$media-break-point-desktop-xs: 512px;
$media-break-point-desktop-sm: 768px;
$media-break-point-desktop-md: 992px;
$media-break-point-desktop-lg: 1200px;

// Use this as max-width on content pages to focus to center of screen
// while still allowing hero images to be in their own section that occupies 100% width
$media-break-point-desktop-max: 1400px;

$image-max-width: 1800px;

/************************************************************************
// **********************************************************************
//
//                   padding / size
//
// **********************************************************************
// **********************************************************************/

$padding-xxs: 6px;
$padding-xs: 12px;
$padding-sm: 24px;
$padding-md: 48px;
$padding-lg: 72px;
$padding-xl: 96px;
$padding-xxl: 144px;




/************************************************************************
// **********************************************************************
//
//                   header specific
//
// **********************************************************************
// **********************************************************************/

$profile-pic-width: 30px;

$desktop-header-bg-color: white;

$header-background-color:               rgba($desktop-header-bg-color, .97);
$header-background-color--workflow-on:  rgba($desktop-header-bg-color, .97);


$header-mobile-height: 48px;
$header-regular-height: 64px;
$header-button-height: 40px;
$header-button-height-mobile: 36px;

/************************************************************************
// **********************************************************************
//
//                   typeface selection specific
//
// **********************************************************************
// **********************************************************************/


$toolbar-panel-header-row-height: 60px;

//todo: deprecate below
//$tools-context-row-height: 24px;
$tools-context-row-height: 48px;
$tools-btn-wrapper-row-height: 60px;


/************************************************************************
// **********************************************************************
//
//                   upload image
//
// **********************************************************************
// **********************************************************************/





/************************************************************************
// **********************************************************************
//
//                  misc objects
//
// **********************************************************************
// **********************************************************************/

$virtual-card-box-shadow: 0px 0px 10px 1px #ccc; //2px 2px 5px 1px #333;

$selection-hover: #C9E6F8;

// TODO: redo this. currently added for breakpoint md where wf nav buttons 'could' overlap with virtual postcard
$page-padding-for-wf-nav: 92px;



// **********************************************************************
// **********************************************************************
//
//                   begin imports
//
// **********************************************************************
// **********************************************************************



@import "master";


// **********************************************************************
// **********************************************************************
//
//                   imports - 3rd party overrides
//
// **********************************************************************
// **********************************************************************



// **********************************************************************
// **********************************************************************
//
//                   imports - by components
//
// **********************************************************************
// **********************************************************************

@import "common.flex";


@import "style";




@import "afg-media";
