

<div class="bg-white">
  <!-------------- Contact Form -------------->
  <div class="afg-width-two-thirds-tablet--centered">

    <div class="text-center">
      <div class="afg_hero_subtitle_2">
        We help tourism &amp; hospitality businesses do online better.
      </div>
      <div class="afg_hero_subtitle_3">
        Get more bookings, reviews, and social media engagement.
      </div>
    </div>

    [ninja_form id=2]
    <div class="afg-form__no-risk bg-white">
      We'll contact you to set up a free intro call. No risk, and no credit card required.
    </div>
  </div>
</div>


<!-------------- Image slider -------------->
<div class="afg-slider">
  <div class="afg-slider__controls">
    <button class="afg-btn afg-slider__control-left" onclick="plusDivs(-1)">
      <i class="fa fa-angle-left fa-afg-slider-control fa-afg-slider--left"></i>
    </button>
    <button class="afg-btn afg-slider__control-right" onclick="plusDivs(1)">
      <i class="fa fa-angle-right fa-afg-slider-control fa-afg-slider--right"></i>
    </button>
  </div>
  <div class="afg-slider__img-container">
    <span class="afg-slider__img afg-slider__img--hotels"></span>
    <span class="afg-img-slide-caption">Hotels collab with us to get more direct bookings &amp; save on fees</span>
  </div>
  <div class="afg-slider__img-container">
    <span class="afg-slider__img afg-slider__img--trekking"></span>
    <span class="afg-img-slide-caption">Trekking tours work with us to increase their online presense</span>
  </div>
  <div class="afg-slider__img-container">
    <span class="afg-slider__img afg-slider__img--scuba"></span>
    <span class="afg-img-slide-caption">Dive shops work with us to go social and get more online reviews</span>
  </div>
  <div class="afg-slider__img-container">
    <span class="afg-slider__img afg-slider__img--hot-air-balloons"></span>
    <span class="afg-img-slide-caption">Adventure tours work with us to build their social media following</span>
  </div>
  <div class="afg-slider__img-container">
    <span class="afg-slider__img afg-slider__img--jeep-tours"></span>
    <span class="afg-img-slide-caption">Jeep tours work with us to build their social media following</span>
  </div>
</div>



<!-------------- My services -------------->
<section class="afg-section afg-home-services bg-white">
  <h1 class="afg-heading--1 afg-section-heading afg_hero_text_wrapper--no-bottom-gutter">
    How we can help your business
  </h1>


  <div class="afg-home__service-row et-content"
    iktsu-event-label="services-1-website"
  >

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--right">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--website"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--left">
      <h2 class="afg-heading--2">
        Better website.</br>
        More bookings.
      </h2>
      <div class="flex-item--text-panel__body">
        We create websites that are fast and easy to use. Show your visitors that you care about quality with a professionally designed site, and get more bookings.
      </div>
      <blockquote class="afg-service-fact">
        <p>
        Great travel websites get
        <span class="afg-stat-highlight">+68% more bookings</span>
        than average travel websites.
        </p>
        <cite>-Adobe Digital Index</cite>
      </blockquote>
      <div class="flex-panel__cta">
        <div class="afg-card__cta-container">
          <a class="afg-btn afg-btn-cta afg-btn-cta--invert afg-btn--long-text" href="/contact-us">
            I want more bookings from my website
          </a>
        </div>
      </div>
    </div>

  </div>



  <div class="afg-home__service-row et-content"
    iktsu-event-label="services-2-apps"
  >

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--left">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--apps"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--right">
      <h2 class="afg-heading--2">
        Grow your online presence and reach more potential customers.
      </h2>
      <div class="flex-item--text-panel__body">
        We formulate strategies tailored to your business to get you more visitors, reviews and online engagement. Online platforms are the future. Don’t get left behind.
      </div>

      <blockquote class="afg-service-fact">
        <p>
        More than
        <span class="afg-stat-highlight">70% of travelers</span>
        use TripAdvisor and
        <span class="afg-stat-highlight">3.2 billion people</span>
        are active on social media.
        </p>
        <cite>-Forbes</cite>
      </blockquote>

      <div class="flex-panel__cta">
        <div class="afg-card__cta-container">
          <a class="afg-btn afg-btn-cta afg-btn-cta--invert afg-btn--long-text" href="/contact-us">
            I want to reach more travelers online
          </a>
        </div>
      </div>
    </div>

  </div>



  <div class="afg-home__service-row et-content"
    iktsu-event-label="services-3-email-marketing"
  >

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--right">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--email-marketing"></span>
      </div>
    </div>


    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--left">
      <h2 class="afg-heading--2">
        Email marketing:</br>
        Your secret weapon
      </h2>
      <div class="flex-item--text-panel__body">
        We design email marketing campaigns to get your business results. Get more bookings, online reviews, and social media engagement.
      </div>

      <blockquote class="afg-service-fact">
        <p>
        Companies that invest in email marketing make an average of
        <span class="afg-stat-highlight">+$38 for every $1 spent</span>.
        </p>
        <cite>-The Direct Marketing Association</cite>
      </blockquote>

      <div class="flex-panel__cta">
        <div class="afg-card__cta-container">
          <a class="afg-btn afg-btn-cta--invert afg-btn--long-text" href="/contact-us">
            I want to unlock the power of email marketing
          </a>
        </div>
      </div>
    </div>
  </div>

</section>




<!-------------- World Map & Experience -------------->
<section class="afg-section afg-home-soc">

  <h1 class="afg-heading--1 afg-section-heading">
    Why clients love working with us
  </h1>


  <div class="afg-home-soc__map-bg">
    <div class="afg-grid afg-grid--home-experience">
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-1 et-content" iktsu-event-label="experience-1-years">
        <div class="afg-heading--1 afg-heading--experience-number">
          12+
        </div>
        <div class="afg-heading--4">
          Years of experience
        </div>
      </div>
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-2 et-content" iktsu-event-label="experience-2-countries">
        <div class="afg-heading--1 afg-heading--experience-number">
          50+
        </div>
        <div class="afg-heading--4">
          Countries visited
        </div>
      </div>
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-3 et-content" iktsu-event-label="experience-3-continents">
        <div class="afg-heading--1 afg-heading--experience-number">
          7
        </div>
        <div class="afg-heading--4">
          Continents
        </div>
      </div>
    </div>


    <!-------------- Experience cards -------------->
    <div class="afg-grid afg-grid--home-why-us">
      <!-- CARD 2 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-1 et-content" iktsu-event-label="why-us-1-roadmap">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We know how to get your business where it needs to go
          </div>
          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="/wp-content/uploads/media/icons/route.png"/>
            </span>
            <p>
              We’ve collaborated with companies of all sizes, from the Fortune 500 to one-person startups.
            </p>
            <p>
              Let’s work together - we’ve got the experience to help move your business forward.
            </p>
          </div>
        </div>
      </div>


      <!-- CARD 1 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-2 et-content" iktsu-event-label="why-us-1-customers">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We understand your business and customers
          </div>

          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="/wp-content/uploads/media/icons/networking.png"/>
            </span>
            <p>
              We travel 100+ days/year so we know what travelers want, how they think, and what makes them happy.
            </p>
            <p>
              Put our insights to work for your business.
            </p>
          </div>
        </div>
      </div>



      <!-- CARD 3 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-3 et-content" iktsu-event-label="why-us-1-your-success">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We are focused on your results &amp; success
          </div>
          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="/wp-content/uploads/media/icons/handshake.png"/>
            </span>
            <p>
              Our goals are to give you amazing service, make your life easier, and help you reach your business goals.
            </p>
            <p>
              Say hello and find out how we can help.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="afg-width-two-thirds-tablet--centered afg-width-override--80-sm-to-md afg-card__cta-container--spacer">


      <div class="afg-home__bottom-form-wrapper">
        [ninja_form id=5]

        <div class="afg-form__no-risk">
          We'll contact you to set up a free intro call. No risk, and no credit card required.
        </div>
      </div>
    </div>
  </div>




</section>


[sc name="startSlider1"]
