<div class="et-content--hide et-content" id="Home page">
</div>

<div class="bg-white text-center">
  <!-------------- Contact Form -------------->
  <div class="afg-width-two-thirds-tablet--centered et-content" id="Home 1">

    <div class="text-center">
      <div class="afg_hero_subtitle_2">
        Get more bookings, online reviews, and social media engagement.
      </div>
      <div class="afg_hero_subtitle_3">
        We help tourism &amp; hospitality businesses do online better.
      </div>
    </div>

    <div>
      [ninja_form id=2]
    </div>

    <div class="afg-form__no-risk bg-white">
      We'll contact you to set up a free consultation call. No risk, and no credit card required.
    </div>
  </div>
</div>


<!-------------- Image slider -------------->
<div class="afg-slider et-content" id="Home 2">
  <div class="afg-slider__controls">
    <button class="afg-btn afg-slider__control-left et-click" onclick="plusDivs(-1)" id="Home 2-0 slider back">
      <i class="fa fa-angle-left fa-afg-slider-control fa-afg-slider--left"></i>
    </button>
    <button class="afg-btn afg-slider__control-right et-click" onclick="plusDivs(1)" id="Home 2-0 slider forward">
      <i class="fa fa-angle-right fa-afg-slider-control fa-afg-slider--right"></i>
    </button>
  </div>


  <div class="afg-slider__img-container et-content" id="Home 2-1 slider scuba">
    <span class="afg-slider__img afg-slider__img--scuba"></span>
    <span class="afg-img-slide-caption">Dive shops work with us to upgrade their websites &amp; impress visitors</span>
  </div>

  <div class="afg-slider__img-container et-content" id="Home 2-2 slider trekking">
    <span class="afg-slider__img afg-slider__img--trekking"></span>
    <span class="afg-img-slide-caption">Trekking tours work with us to reach more outdoor lovers on social media</span>
  </div>

  <div class="afg-slider__img-container et-content" id="Home 2-3 slider adventure">
    <span class="afg-slider__img afg-slider__img--hot-air-balloons"></span>
    <span class="afg-img-slide-caption">Adventure tours learn email marketing with us to get more online reviews and engagement</span>
  </div>

  <div class="afg-slider__img-container et-content" id="Home 2-4 slider hotel">
    <span class="afg-slider__img afg-slider__img--hotels"></span>
    <span class="afg-img-slide-caption">Hotels collaborate with us to get more direct bookings &amp; save on fees</span>
  </div>

  <div class="afg-slider__img-container et-content" id="Home 2-5 slider camping">
    <span class="afg-slider__img afg-slider__img--jeep-tours"></span>
    <span class="afg-img-slide-caption">Camping tours collaborate with us to evaluate &amp; prioritize their marketing needs</span>
  </div>
</div>




<!-------------- My services -------------->
<section class="afg-section afg-home-services bg-white">
  <h1 class="afg-heading--1 afg-section-heading afg_hero_text_wrapper--no-bottom-gutter">
    How we can help your business
  </h1>


  <div class="afg-home__service-row">

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--right">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--website"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--left">
      <div class="et-content" id="Home 3-1">
        <h2 class="afg-heading--2">
          Better website = More bookings
        </h2>

        <blockquote class="afg-service-fact">
          <p>
          Great travel websites get
          <span class="afg-stat-highlight">+68% more bookings</span>
          than average travel websites.
          </p>
          <cite>-Adobe Digital Index</cite>
        </blockquote>

        <div class="flex-item--text-panel__body">
          Show your website visitors that you care about quality with a beautifully designed website and get more bookings. Our designs are gorgeous on all devices and easy to use - exactly what you need to turn more visitors into customers.
        </div>
      </div>
      <div class="flex-panel__cta">
        <a class="afg-btn afg-btn-cta afg-btn-cta--invert afg-btn--long-text et-click" href="grow-your-online-presence/?form_origin=home-services-website" id="Home 3-1c cta">
          I want more bookings from my website
        </a>
      </div>
    </div>
  </div>



  <div class="afg-home__service-row">

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--left">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--apps"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--right">
      <div class="et-content" id="Home 3-2">
        <h2 class="afg-heading--2">
          <!-- The best businesses are online -->
          Travelers want businesses they can validate online
        </h2>

        <blockquote class="afg-service-fact">
          <p>
            More than
              <span class="afg-stat-highlight">70% of travelers</span>
              use TripAdvisor before booking.
            <br/>
            <br/>

            <span class="afg-stat-highlight">200 million Instagram users</span>
            visit at least 1 business profile per day.
            <br/>
            <br/>

            <span class="afg-stat-highlight">67% of people</span>
            expect to message more with businesses.
          </p>

          <cite>-TripAdvisor, Forbes, Facebook</cite>
        </blockquote>

        <div class="flex-item--text-panel__body">
          Expand your online presence and win more customers. We formulate strategies tailored to your business to help you reach and impress more travelers.
        </div>
      </div>
      <div class="flex-panel__cta">
        <a class="afg-btn afg-btn-cta afg-btn-cta--invert afg-btn--long-text et-click" href="grow-your-online-presence/?form_origin=home-services-platforms" id="Home 3-2c cta">
          I want to reach more travelers online
        </a>
      </div>
    </div>

  </div>



  <div class="afg-home__service-row">

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--right">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--email-marketing"></span>
      </div>
    </div>


    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--left">
      <div class="et-content" id="Home 3-3">
        <h2 class="afg-heading--2">
          Email marketing:</br>
          Your secret weapon
        </h2>

        <blockquote class="afg-service-fact">
          <p>
          Companies that invest in email marketing make an average of
          <span class="afg-stat-highlight">+$38 for every $1 spent</span>.
          </p>
          <cite>-The Direct Marketing Association</cite>
        </blockquote>

        <div class="flex-item--text-panel__body">
          Harness the power of email and watch your business grow. We design email marketing campaigns to get you results – more online traffic from potential customers, and more online reviews and social media activity from customers who love you.
        </div>
      </div>
      <div class="flex-panel__cta">
        <a class="afg-btn afg-btn-cta afg-btn-cta--invert afg-btn--long-text et-click" href="grow-your-online-presence/?form_origin=home-services-email-marketing" id="Home 3-3c cta">
          I want to unlock the power of email marketing
        </a>
      </div>
    </div>
  </div>

</section>







<!-------------- Services list -------------->

<section class="afg-section afg-section--compact-spacing afg-home__project-type-list-container">
  <h2 class="afg-heading--2 text-center">
    Services to give your business a boost
  </h2>


  <div class="afg-home__project-type-list et-content" id="Home 4">
    <div class="afg-service__project-type-container afg-service__project-type-container--website et-content" id="Home 4-1">
      <div class="afg-service__project-type-title">
        For your website
      </div>

      <div class="afg-service__project-list">
        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/responsive-web-design-clear-screen.png"/>
          <div class="afg-service__project-desc">
            Mobile responsive design
          </div>
        </div>

        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/conversion-funnel-optimization.png"/>
          <div class="afg-service__project-desc">
            Analytics &amp; Conversion optimization
          </div>
        </div>

        <div class="afg-service__project-container">
          <a href="how-much-is-a-slow-website-costing-your-business">
            <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/rocket.png"/>
            <div class="afg-service__project-desc">
              Speed optimization
            </div>
          </a>
        </div>
      </div>
    </div>


    <div class="afg-service__project-type-container afg-service__project-type-container--platforms et-content" id="Home 4-2">
      <div class="afg-service__project-type-title">
        For your online platforms
      </div>

      <div class="afg-service__project-list">
        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/apps/64/instagram-app.png"/>
          <div class="afg-service__project-desc">
            Social media
          </div>
        </div>

        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/apps/64/tripadvisor-app.png"/>
          <div class="afg-service__project-desc">
            Travel apps &amp; websites
          </div>
        </div>

        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/email-marketing.png"/>
          <div class="afg-service__project-desc">
            Email marketing
          </div>
        </div>
      </div>
    </div>


    <div class="afg-service__project-type-container afg-service__project-type-container--core et-content" id="Home 4-3">
      <div class="afg-service__project-type-title">
        For your core business
      </div>

      <div class="afg-service__project-list">
        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/consulting-analysis.png"/>
          <div class="afg-service__project-desc">
            Consulting
          </div>
        </div>

        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/photography-pictures.png"/>
          <div class="afg-service__project-desc">
            Photography
          </div>
        </div>

        <div class="afg-service__project-container">
          <img class="afg-service__project-icon" src="../../../../../wp-content/uploads/media/icons/marketing-text-copywriting.png"/>
          <div class="afg-service__project-desc">
            Copywriting
          </div>
        </div>
      </div>
    </div>

  </div>
</section>





<!-------------- World Map & Experience -------------->
<section class="afg-section afg-home-soc">



  <div class="afg-home-soc__map-bg">

    <div class="et-content" id="Home 5">
      <!-- overlay heading on map -->
      <h1 class="afg-heading--1 afg-section-heading">
        We know travel
      </h1>

      <div class="afg-grid afg-grid--home-experience">
        <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-1">
          <div class="afg-heading--1 afg-heading--experience-number">
            50+
          </div>
          <div class="afg-heading--4">
            Countries visited
          </div>
        </div>
        <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-2">
          <div class="afg-heading--1 afg-heading--experience-number">
            12+
          </div>
          <div class="afg-heading--4">
            Years of experience
          </div>
        </div>
        <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-3">
          <div class="afg-heading--1 afg-heading--experience-number">
            7
          </div>
          <div class="afg-heading--4">
            Continents explored
          </div>
        </div>
      </div>
    </div>

    <h1 class="afg-heading--1 afg-section-heading afg-section-heading--home-exp">
      Why you'll love working with us
    </h1>

    <!-------------- Experience cards -------------->
    <div class="afg-grid afg-grid--home-why-us">
      <!-- CARD 2 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-1 et-content" id="Home 6-2">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We know how to get your business where it needs to go
          </div>
          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="../../../../../wp-content/uploads/media/icons/route.png"/>
            </span>
            <p>
              We’ve collaborated with companies of all sizes, from the Fortune 500 to one-person startups.
            </p>
            <p>
              Let’s work together - we’ve got the experience to help move your business forward.
            </p>
          </div>
        </div>
      </div>


      <!-- CARD 1 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-2 et-content" id="Home 6-1">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We understand your business and customers
          </div>

          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="../../../../../wp-content/uploads/media/icons/networking.png"/>
            </span>
            <p>
              We travel more than 100 days a year so we know what travelers want, how they think, and what makes them happy.
            </p>
            <p>
              Put our insights to work for your business.
            </p>
          </div>
        </div>
      </div>



      <!-- CARD 3 -->
      <div class="afg-grid-item afg-grid-item--3-row afg-grid-item-3 et-content" id="Home 6-3">
        <div class="afg-card afg-card--title-lead afg-card--why-us">
          <div class="afg-card--title-lead__title">
            We are focused on your results &amp; success
          </div>
          <div class="afg-card__body">
            <span class="afg-card__img-wrapper">
              <img class="afg-card__img" src="../../../../../wp-content/uploads/media/icons/handshake.png"/>
            </span>
            <p>
              Our mission is to help you reach your business goals and make your life easier by giving you amazing service, backed by more than 12 years of experience.
            </p>
            <p>
              Say hello and find out how we can help.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="afg-width-two-thirds-tablet--centered afg-width-override--80-sm-to-md afg-home__bottom-form-container afg-card__cta-container--spacer afg-card__cta-container--spacer--tablet-only" >

      <div class="afg-home__bottom-form-wrapper">

        <div class="et-content" id="Home 7">
          <div class="afg-home__bottom-form-header">
            Start growing your business now
          </div>
        </div>


        <div>
          [ninja_form id=5]
        </div>


        <div class="afg-form__no-risk">
          We'll contact you to set up a free consultation call. No risk, and no credit card required.
        </div>
      </div>
    </div>
  </div>




</section>


[sc name="startSlider1"]

