<div class="et-content--hide et-content" id="Website speed page">
</div>


<!-- 'Website speed 1' in hero banner -->


<section class="afg-section afg-callout-bg-color">

  <div class="afg-width-two-thirds-tablet--centered afg-width-override--80-sm-to-md afg-form-container--callout afg-card__cta-container--spacer--tablet-only ">

    <div class="afg-home__bottom-form-wrapper">
      <div class="et-content" id="Website speed 2">
        <div class="afg-home__bottom-form-header">
          How much is a slow website costing your business?
        </div>
        <div class="text-center">
          <div class="afg_hero_subtitle_2">
            Enter your estimated annual revenue and see how much you could earn with a faster website.
          </div>
        </div>
      </div>

      <div>
        [ninja_form id=8]
      </div>

      <div class="afg-form__no-risk">
        This information will only be used to make an estimate. It will not be shared with any third parties.
      </div>
    </div>
  </div>
</section>



<!-------------- detail rows -------------->
<section class="afg-section afg-website-speed-pg__body bg-white afg-no-top-gutter">
  <div class="afg-home__service-row">
    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--right">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--website-speed-exit"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--left">
      <div class="et-content" id="Website speed 3-1">
        <h2 class="afg-heading--2">
          Slow website = less bookings
        </h2>
        <blockquote class="afg-service-fact">
          <p>
             <span class="afg-stat-highlight">40% of people abandon websites</span>
            that take more than
            <span class="afg-stat-highlight">3 seconds to load</span>.
          </p>
          <p>
            On mobile, this <span class="afg-stat-highlight">increases to 53%</span>.
          </p>
          <cite>-Google, Neil Patel</cite>
        </blockquote>

        <div class="flex-item--text-panel__body">
          <p>
            People today expect fast websites. If your website is slow, your visitors will simply go to your competition.
          </p>
          <p>
            Considering that 89% of travelers research online before booking their trips, a slow website could be turning away nearly half of your potential customers.
          </p>
        </div>
      </div>
    </div>
  </div>




  <div class="afg-home__service-row afg-page--bottom-gutter">

    <div class="afg-home__service-row-img-panel afg-home__service-row-img-panel--left">
      <div class="afg-service__img-wrapper">
        <span class="afg-service__img--website-speed-responsive"></span>
      </div>
    </div>

    <div class="afg-home__service-row-text-panel afg-home__service-row-text-panel--right">
      <div class="et-content" id="Website speed 3-2">
        <h2 class="afg-heading--2">
          Travelers want websites to be fast everywhere they are
        </h2>
        <div class="flex-item--text-panel__body">
          Speed up your website and keep more of your online visitors. We can optimize your website to work quickly on all devices so you can get more bookings.
        </div>
      </div>
      <div class="flex-panel__cta">
        <a class="afg-btn afg-btn-cta afg-btn--long-text et-click" href="grow-your-online-presence/?form_origin=home-services-platforms" id="Website speed 3-2c cta">
          I want more bookings with a faster website
        </a>
      </div>
    </div>

  </div>
</section>

